*/obj/*
*/Debug/*
*/Release/*
*/packages/*
**/packages/**
**/bin/**
**/obj/**
**/csx/**
**/rcf/**
**/node_modules/**
*.csproj.user
*.ccproj.user
*.suo
*/target/*
web-workspace
tools-workspace
tool-workspace
**/.settings/**
**/.project
**/.classpath
**/.jar/**
*.jar
*.class
**/target/**
*.iml
**/.idea/**
**/META-INF/**
**/.vs/**
